@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url('/public/glassesImage/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: overlay;
}
.model.left {
  position: relative;
}
.model img {
  width: 100%;
}
.model img.imgGlasses {
  width: 45%;
}
.glassesContainer {
  background-color: #fff;
  padding: 20px;
}

.glassesItem {
  cursor: pointer;
}
.glassesItem img {
  width: 100%;
}
.glassesInfo {
  background-color: rgba(202, 134, 9, 0.6);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 10px;
}

.glassesInfo h3 {
  color: blue;
}

.glassesInfo p {
  color: white;
}

.glassesDisplay {
  position: absolute;
  top: 150px;
  /* left: 350px; */
  width: 100%;
  text-align: -webkit-center;
}

.glassesDisplay {
  opacity: 0.5;
}
